@import url("./font.css");
@import url("./variable.css");
@import url("./reset.css");
@import url("./index.css");
@import url("./faq.css");
@import url("./order.css");
@import url("./media.css");
@import url("./team.css");
@import url("./responsive.css");
