* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

.homeHeader {
  padding: 14px 0 20px 0;
}

.headerLeft {
  display: flex;
}

.ferdiMusteri {
  border-radius: 8px 0 0 8px;
  padding: 10px;
  border: 1px solid var(--mainColor);
  color: var(--mainColor);
  font: 500 14px var(--mainFont);
  box-shadow: 0px 0px 4px 0px #0000001f;
}

.korporativMusteri {
  display: flex;
  align-items: center;
  border: 1px solid 0000001f;
  border-left: none;
  padding: 10px;
  border-radius: 0 8px 8px 0;
  box-shadow: 0px 0px 4px 0px #0000001f;
}

.cardSection {
  display: flex;
  align-items: center;
  gap: 6px;
  font: 500 14px var(--mainFont);
}

.languageButton {
  background-color: transparent;
  border: none;
}

.myNavbar {
  padding: 6px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #f3f3f3;
  padding: 9px 0 9px 16px;
  width: 200px;
  gap: 10px;
}

.search div input {
  padding-right: 10px;
  width: 100%;
}

.search div input,
.search div input:focus,
.search div input:active,
.search div input:hover {
  border: none;
  outline: none;
}

.navbarLinks {
  padding-left: 50px;
}

.navbarLinks > ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbarRight {
  display: flex;
  align-items: center;
}

.bookACall {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 136px;
  border: none;
  background-color: var(--mainColor);
  color: white;
  font: 600 16px var(--mainFont);
  padding: 8px 10px;
  border-radius: 8px;
}

.breadcrumbSection ul {
  display: flex;
  align-items: center;
}

.breadcrumbSection ul li {
  display: flex;
  align-items: center;
}

.breadcrumbSection ul li:not(:last-child) ::after {
  content: ">";
  margin: 0 10px;
}

.breadcrumbSection ul li:not(:last-child) {
  font: 600 12px var(--mainFont);
  color: #474747;
}

.breadcrumbSection ul li:last-child {
  font: 500 12px var(--mainFont);
  color: #b8b8b8;
}

.breadcrumbSection ul li a {
  display: flex;
  align-items: center;
}

.breadcrumbSection {
  margin-bottom: 54px;
}

.secondSection {
  display: flex;
  justify-content: center;
  margin-bottom: 86px;
}

.secondSection ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.secondSection ul li a {
  font: 600 16px var(--mainFont);
  color: #343434;
  padding: 10px;
}

/* .secondSection ul li:first-child a {
  color: var(--mainColor);
  border-bottom: 1px solid var(--mainColor);
} */

.haqqimizdaContainer > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headLine {
  width: 52px;
  border: 1px solid var(--mainColor);
}

.haqqimizdaContainerLeft1 {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.haqqimizdaContainerLeft2 p {
  font: 400 24px var(--mainFont);
  font-style: italic;
}

.haqqimizdaContainerLeft2 {
  margin-bottom: 28px;
}

.about {
  font: 400 16px var(--mainFont);
  color: #4c4c4c;
  line-height: 26px;
}

.haqqimizdaTitle p {
  font: 600 32px var(--mainFont);
  color: #111827;
}

.haqqimizdaContainerLeft3 {
  width: 600px;
  height: 375px;
}

.haqqimizdaContainerLeft3 img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.xidmetLogo {
  width: 44px;
  height: 44px;
  border-radius: 54px;
  background: #d7d7d7;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 600 20px var(--mainFont);
  color: white;
  margin-bottom: 18px;
}

.xidmetTitle {
  font: 600 20px var(--mainFont);
  color: #111827;
  margin-bottom: 10px;
}

.xidmetDesc {
  font: 400 16px var(--mainFont);
  color: #4c4c4c;
}

.bizNecəIşleyirik {
  margin-bottom: 120px;
}

.bizNecəIşleyirik ul li {
  padding-bottom: 20px;
}

.bizNecəIşleyirik ul div:nth-child(odd) li {
  padding-left: 20px;
  border-left: 8px solid #f2f2f2;
}

.bizNecəIşleyirik ul > div:nth-child(odd) {
  display: flex;
  justify-content: end;
}

.bizNecəIşleyirik ul div:nth-child(even) li {
  padding-right: 20px;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  align-items: end;
  border-right: 8px solid #f2f2f2;
}

.bizNecəIşleyirik ul div:nth-child(even) li div.xidmetDesc {
  text-align: end;
}

.selectedLogo {
  background-color: var(--mainColor);
}

.bizNecəIşleyirik ul div:nth-child(2) li {
  border-color: var(--mainColor);
}

.bizNecəIşleyirik ul > div:nth-child(1) li {
  border-radius: 10px 0 0 0;
}

.bizNecəIşleyirik ul > div:nth-child(6) li {
  border-radius: 0 0 10px 0;
}

.carousel-indicators [data-bs-target] {
  background-color: var(--mainColor);
}

.myCard {
  background-color: rgba(34, 31, 31, 0.1);
  display: flex !important;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
}

.carousel-inner {
  border-radius: 10px;
}

.caruselImage {
  width: 200px;
  height: 200px;
  margin-bottom: 28px;
}
.caruselImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.caruselStars {
  margin-bottom: 16px;
}

.caruselDesc {
  font: 400 16px var(--mainFont);
  color: #989898;
  margin-bottom: 28px;
}

.caruselAuthor {
  font: 600 18px var(--mainFont);
  color: var(--mainColor);
}

.footer {
  background-color: var(--mainColor);
  padding: 34px 0;
}

.footerTitle {
  margin-bottom: 12px;
}

.footerTitle p {
  color: #312402;
  font: 600 20px var(--mainFont);
}

.footer ul li a,
.footer ul li {
  color: #785801;
  font: 300 14px var(--mainFont);
}

.footer ul li:not(:last-child) {
  margin-bottom: 12px;
}

.hamisinaBax {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footerHr {
  margin-top: 78px;
  border: 1px solid #3a2c06;
}

.copyRight {
  text-align: center;
  color: #b38304;
  font: 400 14px var(--mainFont);
}

.missiyamizLeft > div {
  background-color: #1d1d1d;
  border-radius: 0 8px 8px 0;
  padding: 47px 0px 47px 108px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.missiyamizLeft > div > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
  width: max-content;
}

.missiyamizLeft > div > div:not(:last-child) {
  border-bottom: 1px solid #343434;
}

.missiyamizLeft > div > div p:first-child {
  color: #ffffff;
  font: 600 36px var(--mainFont);
}

.missiyamizLeft > div > div p:last-child {
  color: #ffffffb3;
  font: 500 16px var(--mainFont);
}

.missiyamiz > .row:first-child {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
}

.haqqimizdaDesc {
  font: 400 16px var(--mainFont);
  color: #4c4c4c;
}

.missiyamizBox {
  backdrop-filter: blur(4px);
  border: 1px solid #eaeaea;
  background: #ffffff4d;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 47px 62px;
  height: 100%;
}

.missiyamizBox div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.missiyamizBox > div > div {
  width: 58px;
  height: 58px;
  border-radius: 54px;
  background-color: #fff6e0;
}

.missiyamizBox > div > p {
  color: #111827;
  font: 500 18px var(--mainFont);
}

.missiyamizBoxContainer > div:nth-child(-n + 2) {
  margin-bottom: 20px;
}

.hamburgerMenu {
  width: 40px;
  height: 40px;
}

.hamburgerMenu img {
  width: 100%;
  display: none;
}

.linksButton {
  width: 100%;
  height: 40px;
  display: none;
}

.linksButton img {
  width: 40px;
}

.cardSectionContainer {
  display: flex;
  justify-content: end;
}
