.title {
  display: flex;
  justify-content: center;
}

.title > p {
  color: rgb(0, 255, 64);
  font: bold 24px sans-serif;
}

.textDivELement {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.city,
.city:focus-visible {
  border: 1px solid red !important;
  border-radius: 10px;
  outline: 1px solid red !important;
  padding: 0 10px;
}

.getWeather {
  border: none;
  outline: none;
  background-color: blue;
  color: white;
  border-radius: 10px;
  padding: 15px 40px;
}

.temperature {
  text-align: center;
  margin-top: 30px;
}
